@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --primary: rgb(170, 183, 255);
  --color: rgb(63, 63, 63);
  --button-bg: rgb(77, 77, 77);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  color: var(--color);
  background-color: var(--primary);
}

.App {
  font-family: "Roboto", sans-serif;
  text-align: center;
  /* max-width: 600px; */
  margin: 0 3rem;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin: 3rem 0 1rem 0;
}

header {
  margin: 2rem;
}

header h1 {
  margin: 1rem;
}

.stocks {
  flex: 1;
  width: 25rem;
  height: auto;
  margin: 0 2rem;
}

.main {
  flex: 1;
  margin: 0 2rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

input,
button {
  margin: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  width: 15rem;
  outline: none;
  border: none;
  border-radius: 0.2rem;
}

button {
  background-color: var(--button-bg);
  color: white;
  border: none;
  cursor: pointer;
}

footer {
  margin-top: auto;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
}

footer a,
header a {
  color: inherit;
}

@media (max-width: 900px) {
  .wrapper {
    flex-direction: column-reverse;
    align-items: center;
    margin: 2rem 0;
  }

  .stocks {
    width: 20rem;
  }

  .main {
    margin: 2rem 0;
  }
}

@media (max-width: 480px) {
  .stocks {
    width: 15rem;
  }

  input,
  button {
    width: 12rem;
  }
}
